@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat;
<div class="container card">
<h3>Treat Details</h3>
<hr />

<h4>@Html.DisplayName("Treat"): @Html.DisplayFor(model => model.TreatName)</h4>

@if(@Model.JoinTables.Count == 0)
{
  <span><p>This treat is not assigned to any flavors :(</p></span>
}
else
{
  <h4>Flavors assigned to this treat:</h4>
  <ul>
    @foreach(var join in Model.JoinTables)
    {
      <h4><strong>@join.Flavor.FlavorName</strong></h4>
    }
  </ul>
}
<br />
<p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treats list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
</div>
