@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat;

<h3>Treat Details</h3>
<hr />
<h4>@Html.DisplayName("Treat"): @Html.DisplayFor(model => model.TreatName)</h4>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not contain any assigned flavors:(</p>
}
else
{
  <h4>Flavors assigned to this treat:</h4>
  <ul>
    @foreach(var join in Model.Flavors)
    {
      <li>@join.Flavor.FlavorName</li>
    }
  </ul>
}
<br />
@* <p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId })</p> *@
<p>@Html.ActionLink("Back to Treats list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
