@{
 Layout = "_Layout";
}
 
@model Bakery.Models.Flavor
<div class="container card">
  <u><h3>Assign flavor to @Html.Label("'") <strong>@Html.DisplayFor(model => model.FlavorName) @Html.Label("'")</strong></h3></u>
 
  @using (Html.BeginForm())
  {
  @Html.HiddenFor(model => model.FlavorId)
  
  <h4>@Html.Label("Select Treat")</h4>

  <p>@Html.DropDownList("TreatId")</p>
  <br />
  <input type="submit" value="Save" class="btn btn-default" />
  }
  <br />
  <p>@Html.ActionLink("Show all flavors", "Index")</p>
</div>

