@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor;
<div class="container card">
<h3>Flavor Details</h3>
<hr />

<h4>@Html.DisplayName("Flavor Type"): <strong>@Html.DisplayFor(model => model.FlavorName)</h4></strong>

@if(@Model.JoinTables.Count == 0)
{
  <span><p>This flavor does not contain any treats :(</p></span>
}
else
{
  <h4>Pierre's Treats with this flavor:</h4>
  <ul>
    @foreach(var join in Model.JoinTables)
    {
      <h4><strong>@join.Treat.TreatName</strong></h4>
    }
  </ul>
}
<br />
<p>@Html.ActionLink("Add a treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Back to Flavors list", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>
